@import "variables";

header {
  background: $main-theme;
  color: white;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 3em;
    @media #{$small-screens} {
      font-size: 1.6em;
    }
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 1;
  }
  img {
    max-height: 3em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    @media #{$small-screens} {
      max-height: 1.6em;
      margin-right: 0.5em;
    }
  }
}
