@import "variables";

header {
  background: $main-theme;
  color: white;
  display: flex;
  justify-content: center;
  h1 {
    font-size: 3em;
    @media #{$small-screens} {
      font-size: 2em;
    }
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
  }
}
