@import "variables";

nav {
  background: $secondary-theme;
  ul.main-nav {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    font-size: 1.2em;
    @media #{$small-screens} {
      font-size: 1em;
    }
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;

    a.nav-link {
      display: inline-flex;
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      line-height: 1;
      padding-bottom: 4px;
      padding-top: 4px;
      border-top: 2.5px solid transparent;
      border-bottom: 2.5px solid transparent;
      align-items: baseline;
      i {
        margin-right: 4px;
      }
      &:hover {
        border-bottom: 2.5px solid white;
      }
    }
  }

}

.dropdown-toggle:hover {
  cursor: pointer;
}

.dropdown-content {
  background: $main-theme;
  display: none;
  font-size: 0.9em;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    li {
      padding: 2px;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
