@import "variables";
@import "typography";
@import "nav";
@import "header";
@import "utilities";
@import "footer";

body {
  background: $light-gray;
  @media #{$large-screens} {
    max-width: 960px;
    margin: 10px auto;
  }
  @media #{$small-screens} {
    margin: 10px 5px;
  }
}

#wrapper {
  padding: 10px;
  margin-top: 10px;
}

#content {
  background: white;
  display: flex;
  flex-flow: row wrap;
}

main, aside {
  padding: 15px 15px 0 15px;
}

aside {
  flex: 1;
  @media #{$small-screens} {
    flex: 100%;
    order: 2;
  }
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }
}

main {
  flex: 3;
  @media #{$small-screens} {
    flex: 100%;
    order: 1;
  }
  @media #{$large-screens} {
    border-left: 1px solid $light-gray;
  }
}

img {
  display: block;
  max-width: 100%;
}

.text-white {
  color: white;
}

dl {
  margin-top: 0.5em;
}

ul.no-style {
  list-style: none;
  padding-left: 0;
}
